@model LoginUser

<form asp-action="Login" method="post" asp-controller="LoginRegister" class="flex-grow-1">
    <h2 class="mb-3">Login</h2>

    <div class="mb-3">
        <label asp-for="LEmail" class="form-label"></label>
        <input asp-for="LEmail" class="form-control" />
        <span asp-validation-for="LEmail" class="text-danger"></span>
    </div>
    
    <div class="mb-3">
        <label asp-for="LPassword" class="form-label"></label>
        <input asp-for="LPassword" class="form-control" />
        <span asp-validation-for="LPassword" class="text-danger"></span>
    </div>

    <div>
        <input type="submit" value="Login" class="btn btn-primary" />
    </div>
</form>