@model Survey

<div class="text-center">
    <h2><strong>Submitted Into</strong></h2>
    <p>Name : @Model.Name</p>
    <p>Dojo Location : @Model.DojoLocation</p>
    <p>Favorite Language : @Model.FavoriteLanguage</p>
    <p>Comment : @Model.Comment</p>

    <a href="/">Go Back</a>
</div>
