<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="~/css/style.css">
    <title>A Web Page</title>
</head>
<body>
    <div class="nav-bar">
        <a href="/">Home</a> |
        <a href="/projects">Projects</a> |
        <span>Contact</span> 
    </div>

    <div class="title">
        <h1>My Contact !</h1>
    </div>

    <form action="">
        <div>
            <label for="name">Name</label>
            <input type="text" name="name" id="name">
        </div>

        <div>
            <label for="email">Email</label>
        <input type="email" name="email" id="email">
        </div>

        <div>
            <label for="message">Message</label>
        <input type="textarea" name="message" id="message">
        </div>

        <input type="submit" value="Send">
    </form>

</body>
</html>