<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/style.css">
    <title>A Web Page</title>
</head>
<body>
    <div class="nav-bar">
        <span>Home</span> |
        <a href="/projects">Projects</a> |
        <a href="/contact">Contact</a>
    </div>

    <div class="title">
        <h1>About Me</h1>
    </div>

    <div class="home-part">
        <div>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRa2boNo2OYa6CLv00F8NEYjNAK9Ib6UTH74g&s" alt="My Image">
            <p>Bobathy Jones I love to code!</p>
        </div>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste exercitationem nam voluptates illo eaque magni, ullam magnam? Id, eveniet molestias, ipsa fugiat, culpa debitis maiores dicta quibusdam adipisci consequatur similique?</p>
    </div>
</body>
</html>