<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="~/css/style.css">
    <title>A Web Page</title>
</head>
<body>
    <div class="nav-bar">
        <a href="/">Home</a> |
        <span>Projects</span> |
        <a href="/contact">Contact</a>
    </div>

    <div class="title">
        <h1>My Projects</h1>
    </div>

    <div class="projects-container">
        <div class="project">
            <img width="200px" src="https://img.freepik.com/free-photo/colorful-design-with-spiral-design_188544-9588.jpg" alt="Image's project 1">
            <div>
                <h5>Project 1</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>
        </div>

        <div class="project">
            <img width="200px" src="https://img.freepik.com/free-photo/colorful-design-with-spiral-design_188544-9588.jpg" alt="Image's project 2">
            <div>
                <h5>Project 2</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.Autem tenetur, illo blanditiis tempore ipsa veritatis ipsam cum rem sed numquam a</p>
            </div>
        </div>

        <div class="project">
            <img width="200px" src="https://img.freepik.com/free-photo/colorful-design-with-spiral-design_188544-9588.jpg" alt="Image's project 3">
            <div>
                <h5>Project 3</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.enim eaque fugiat aspernatur nisi iste totam assumenda in.</p>
            </div>
        </div>
    </div>

</body>
</html>