<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playground</title>
</head>
<style>
    .nice_box{
        height: 150px;
        width: 150px;
        background-color: aqua;
        margin: 20px;
        border: 2px solid black;
    }
    .container{
        display:flex;
        flex-direction: row;
        align-items: center;
    }
    body{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
</style>
<body>
    <h1>Welcome!</h1>
    <div class="container">
        <div class="nice_box"></div>
        <div class="nice_box"></div>
        <div class="nice_box"></div>
    </div>
</body>
</html>