<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playground</title>
    <style>
        .box{
            width: 120px;
            height: 120px;
            background-color: aqua;
            border: 1px solid black;
            box-sizing: border-box;
        }
        body{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .container{
            display: flex;
            flex-direction: row;
            gap: 25px;
            flex-wrap: wrap;
            justify-content: space-around;
        }
    </style>
</head>
<body>
    <h1>welcome!</h1>
    <div class="container">
        {% for i in range (0, num) %}
            <div class="box"></div>
        {% endfor %}
    </div>
</body>
</html>