<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playground</title>
    <style>
        .box{
            width: 150px;
            height: 150px;
            background-color: aqua;
            border: 1px solid black;
            box-sizing: border-box;
        }
        #container{
            display: flex;
            gap: 25px;
        }
        body{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    </style>
</head>
<body>
    <h1>welcome!</h1>
    <div id="container">
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
    </div>

</body>
</html>