<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        div{
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
</head>
<body>

    <h1>Welcome {{one_user.first_name}}</h1>

    <div style="background-color: rgb(91, 91, 213);width:65px;height:30px;border-radius:7px">
        <a href="/logout" style="color: white;text-align:center;text-decoration:none">Logout</a>
    </div>
</body>
</html>