
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

legend {
    font-size: 1.2rem;
    font-weight: 600;
}

form {
    width: 95%;

}

fieldset 
{
    box-shadow: 0px 0px 100px rgb(187, 1, 32);
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background: linear-gradient(180deg , rgba(2,0,36,0.1) 0%, rgba(224 , 91, 204) 35%, rgb(187, 1, 32) 100%); 

}

fieldset > div 
{
    width: 80%;
}

input , select 
{
    width: 100%;

}
