<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/style.css">
    <title>A Web Page</title>
</head>
<body>
    <form action="results" method="post">
        <fieldset> 
            <legend>πΈπΈπΈπΈπΈπΈπΈπΈπΈπΈπΈπΈπΈπΈπΈπΈπΈπΈπΈπΈπΈπΈπΈπΈπΈπΈπΈπΈπΈπΈπΈπΈπΈπΈπΈπΈπΈπΈπΈπΈπΈπΈπΈπΈπΈπΈπΈ</legend>

            <div>
                <label for="name">Your Name :</label>
                <input type="text" name="name" id="name">
            </div>

            <div>
                <label for="location">Dojo Location :</label>
                <select name="location" id="location">
                    <option value="san jose">San jose</option>
                    <option value="chicago">Chicago</option>
                    <option value="new york">New York</option>
                </select>
            </div>

            <div>
                <label for="language">Favorite Language :</label>
                <select name="favoritelanguage" id="favoritelanguage">
                    <option value="c#">C#</option>
                    <option value="python">Python</option>
                    <option value="javascript">JavaScript</option>
                </select>
            </div>


            <div>
                <label for="comment">Comment (Optional) :</label>
                <input type="textarea" name="comment" id="comment">

            </div>
                <input type="submit" value="Submit">
        </fieldset>
    </form>
</body>
</html>