@model User
<div class="text-center">
    <a href="/">Message</a> |
    <a href="/numbers">Numbers</a> |
    <span>User</span> |
    <a href="/users">Users</a>
    <h2>Here is a User</h2>
    <h3 class="mt-4">@Model.firstName @Model.lastName</h3>
</div>