h1{
    color: whitesmoke;
    text-align: left;
    font-weight: bold;
    background-color: black;
    font-family: cursive;
}
.whitesmoke{
    color:cyan;
}

h2{
    text-align: center;
    color: whitesmoke;
    font-style: italic;
    background-color: blueviolet;
    font-weight: lighter;
    
}

#Contact{
    text-align: right;
    text-decoration: underline;
    font-family: cursive;
    color: darkblue;
    background-color: skyblue;
}














