<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/style.css">
    <title>A Web Page</title>
</head>
<body>
    <div>
        <div class="date-display">
            <h3>Start Time</h3>
            <span>@ViewBag.start</span>
        </div>
        <div class="date-display">
            <h3>End Time</h3>
            <span>@ViewBag.end</span>
        </div>
    </div>

    <div>
        <h3>Time Remaining</h3>
        <span>@ViewBag.difference</span>
    </div>

</body>
</html>