<div class="text-center">
    <h1><strong>Welcome !</strong></h1>
    <form action="user" method="post" >
        <label for="Name">Please give your name</label>
        <br>
        <input type="text" name="Name" id="Name" class="mt-2">
        <br>
        <input class="btn btn-primary mt-2" type="submit" value="Submit">
    </form>
</div>
